@import "app";
@import "page";

html {
  font-size: 14px;
  background-color: #000000;
  overflow-y: scroll;
}

body {
  margin: 0;
  color: #fafafa;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

