.css,
.ecmascript,
.deploy,
.others,
.thinking {
  display: flex;
}

.left-menu {
  width: 200px;
  border-radius: 3px;
  position: relative;
  .menu {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    li {
      margin: .5rem 0;
      cursor: pointer;
      opacity: .5;
      &.actived, &:hover {
        opacity: 1;
      }
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .mask {
    background-color: #000000;
    position: absolute;
    z-index: -1;
    opacity: .5;
    height: 100%;
    width: 100%;
  }
}

.content {
  flex: 1;
  padding: 10px;
  max-width: 750px;
  @import "./md/retro";
  @import "./md/agate";
}